# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Node
node_modules
npm-debug.log

# Next.js build artifacts
.next
out

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

.argo-workflows
